NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://fvbveampvhegucibltdf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PHONE=
NEXT_PUBLIC_WHATSAPP=
NEXT_PUBLIC_EMAIL=
NEXT_PUBLIC_ADDRESS=
NEXT_PUBLIC_INSTAGRAM=
NEXT_PUBLIC_YOUTUBE=
NEXT_PUBLIC_TIKTOK=
